* {
box-sizing: border-box;
}

html {
font-size: 62.5%;
}

body {
font-size: 1.6rem;
font-family: 'Poppins', sans-serif;;
}

/* common */
.content {
width: 1170px;
max-width: calc(100% - 48px);
margin-left: auto;
margin-right: auto;
}

:root {
    --theme-color: #1EBFC1;
    --title-color: #0D1111;
    --desc-color: #767E7E;
    --white: #FFF
}

a {
    color: inherit;
    text-decoration: inherit; 
}

.btn {
display: inline-block;
background: var(--theme-color);
min-width: 186px;
padding: 20px 40px;
border-radius: 14px;
font-weight: 600;
font-size: 1.8rem;
line-height: 27px;
text-align: center;
color: var(--white);
cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.text-block {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.title {
    font-weight: 700;
font-size: 4.2rem;
line-height:1.33;
color: var(--title-color)

}

.desc {
    font-weight: 400;
font-size: 1.8rem;
line-height: 27px;
color: var(--desc-color)
}

/* header */

.fix-header {
position: sticky;
top: -20px;
z-index: 10;
padding-bottom: 30px;
}

header {
    padding-top: 52px;
    background: #fff;
}

header .header-nav {
    display: flex;
    justify-content: space-between;
}

header .nav-main {
    display: flex;
    gap: 177px
}

header .nav-menu {
    display: flex;
    gap: 40px;
}

header .nav-menu a:hover {
    text-shadow: 1px 0 0 #2F3A3B;
}

header .nav-action {
    display: flex;
    gap: 24px;
}

header a {
font-style: normal;
font-weight: 400;
font-size: 1.6rem;
line-height: 24px;
color: #2F3A3B;
}

.sign-in-btn:hover {
    color: var(--theme-color);
    text-shadow: 1px 0 0 var(--theme-color);
}

.sign-up-btn {
padding: 12px 24px;
font-style: normal;
font-weight: 600;
font-size: 1.6rem;
text-align: center;
color: #2F3A3B;
border: 1px solid #2F3A3B;
border-radius: 6px;
}

.sign-up-btn:hover {
border-color: var(--theme-color);
color: var(--theme-color);
}

/* hero */
.hero-wrapper {
    padding-top: 30px;
    padding-bottom: 79px;
}

.hero {
    display: flex;
    gap: 71px
}

.hero-content {
    padding-top: 93px;
}

.hero .before-title {
font-weight: 400;
font-size: 1.4rem;
line-height: 1.5;
color: #767E7E;
margin-bottom: 18px;
}

.hero-title {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.16;
    color: var(--title-color);    
    margin-bottom: 46px;
}

.hero-desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: var(--desc-color);
    margin-bottom: 52px;
}

.hero-btns {
    display: flex;
    gap: 50px;
    height: 68px;
}

.hero-img-section {
position: relative;
padding-left: 65px;
}

.hero-img {
width: 576px;
height: 631px;
object-fit: cover;
object-position: right;
}

.play-btn {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
  
  .play-icon {
    width: 0;
    height: 0;
  border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid #1EBFC1;
  }
        /* about sticker */
.hero-sticker {
    background: #FFFFFF;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.sticker-title {
font-weight: 500;
font-size: 1rem;
line-height: 15px;
color: var(--title-color);
cursor: pointer;
}

  .courses-sticker {
gap: 16px;
top: 149px;
left: 25px;
width: 157px;
height: 75px;
  }

  .schedules-sticker {
gap: 16px;
flex-direction: column;
width: 124px;
height: 132px;
top: 453px;
left: 0;
  }

  .schedules-strokes {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  .student-sticker {
    flex-direction: column;
    gap: 8px;
    top: 500px;
    right: 45px;
    width: 207px;
    height: 90px;
  }

  .student-sticker .users {
    display: flex;
  }

.student-sticker .user {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--theme-color);
    cursor: pointer;
}

.more-user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-user span {
    font-weight: 500;
    font-size: 1rem;
    line-height: 15px;
    text-align: center;
    color: var(--white);
}

.student-sticker .user + .user {
    margin-left: -15px;
}
  
  .book-sticker {
    width: 36px;
    height: 40px;
    background: #FF8282;
border-radius: 5px;
position: relative;
cursor: pointer;
  }

  .book-sticker::after{
    content: "";
position: absolute;
top: 28px;
right: 4px;
width: 28px;
height: 4px;
background: #FFF;
border-radius: 4px;
  }


  /* features */

  .features {
    margin: 130px 0;
  }

  .feature-text {
   width: 590px;
   padding-bottom: 80px;
  }

  .features-list {
    display: flex;
    gap: 200px
  }